.container {
  margin: 20px auto;
  max-width: 800px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
  color: #0066cc;
}

.tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 600px;
}

.tile input[type='text'],
.tile textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.2em;
}

.tile-connector {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 1px;
  height: 100%;
}

.tile-connector svg {
  width: 100%;
  height: 100%;
}

.tile-connector line {
  stroke-dasharray: 4;
}

.add-tile {
  margin-top: 30px;
  text-align: center;
}

.add-tile select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  font-size: 1.2em;
}

.download-btn {
  background-color: #00b300;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #008000;
}

.twine-link {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 0.8em;
}

.decision-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decision-buttons button {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  background-color: #0066cc;
  transition: background-color 0.3s ease;
}

.decision-buttons button:hover {
  background-color: #004080;
}

.decision-buttons label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2em;
}

.decision-buttons input[type='checkbox'] {
  margin-right: 10px;
  cursor: pointer;
}

.decision-buttons input[type='checkbox']:focus {
  outline: none;
  box-shadow: none;
}

.health-indicator,
.wealth-indicator,
.happiness-indicator {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
}

.health-indicator span,
.wealth-indicator span,
.happiness-indicator span {
  font-weight: bold;
}

.health-indicator .plus,
.wealth-indicator .plus,
.happiness-indicator .plus {
  color: green;
}

.health-indicator .plus::before {
  content: '+';
}

.health-indicator .minus::before {
  content: '-';
}

.wealth-indicator .plus::before {
  content: '+';
}

.wealth-indicator .minus::before {
  content: '-';
}

.happiness-indicator .plus::before {
  content: '+';
}

.happiness-indicator .minus::before {
  content: '-';
}

/* Media Query for smaller screens */
@media (max-width: 600px) {

.tile {
  width: 90%;
}

.title {
  font-size: 1.5em;
}

.add-tile select {
  width: 100%;
}

}
